[Unit]
Description=thlogger
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/thlogger/venv/bin/python /etc/thlogger/thlogger.py
StandardOutput=append:/var/log/thlogger/thlogger.log
StandardError=append:/var/log/thlogger/thlogger.log

[Install]
WantedBy=multi-user.target
