{
    "SENSOR_MODEL": 11,
    "GPIO_PIN": 17,
    "HOST": "localhost",
    "PORT": 8086,
    "DATABASE": "thlogger",
    "DB_USER": "thlogger",
    "DB_PASS": "thlogger",
    "LOCATION": "garage",
    "SLEEP_BETWEEN_READINGS": 300,
    "LOG_CONFIG": {
        "version": 1,
        "formatters": {
            "f": {
                "format": "%(asctime)s %(name)-12s %(levelname)-8s %(message)s"}
        },
        "handlers": {
            "h": {
                "class": "logging.StreamHandler",
                "formatter": "f"
            }
        },
        "root": {
            "handlers": ["h"],
            "level": "INFO"
        }
    }
}
